.card{
  width:100%;

  display:grid;
  grid-template-columns: repeat(3,1fr);
  gap:2rem;
}

.card_box{
  background-color:rgb(217, 244, 253);
  box-shadow: 10px 10px 15px rgba(0,0,0,0.35);
  color:  rgb(0, 174, 239);
  text-align: center;
  border-radius: .5rem;
  overflow: hidden;
}
.image img{
  width:100%;
}
.card_info{
  line-height: 1;
  padding:0 1.5rem;

}
.card_vote{
  color: rgb(0, 174, 239);

}
.total{
  background-color: rgb(0, 174, 239);
  padding: .5rem;
  border-radius: .2rem;
  font-weight: 900;
  letter-spacing: 1;
  color:#fff;
  text-transform: uppercase;
}
.card_vote p{
  font-size: 1.5rem;
}
.card_button{
  margin-bottom:2rem ;
  padding: .5rem;
}

.card_button button{
  background-color:rgb(0, 174, 239);
  box-shadow: 10px 10px 15px rgba(0,0,0,0.35);
  border:none;
  padding: .5rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  color:#fff;
  cursor:pointer;
  border-radius: .2rem;
}

@media screen and (max-width: 35em){
.card{
  grid-template-columns: 1fr;
}
}