.button{
  margin-block: 2rem;
  background-color: transparent;
  padding:.5rem 1rem;
  color: rgb(0, 174, 239);
  border: 1px dotted black;
  border-radius: 1rem;
  cursor:pointer;
  font-weight: 600;
  transition: all .4s ease-in-out;
}

.button:hover{
  background-color: rgb(217, 244, 253);
  color:#231e39;
}