.createVoter {
  width: 95%;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  gap: 2rem;
}

.voter {
  background-color: rgb(217, 244, 253);
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  color: #333;
  padding: 2rem;
}

.voter__container__box {
  text-align: center;
  border: 2px solid  rgb(0, 174, 239);
  border-radius: 8px;
  padding: 1rem;
}

.voter__container__box__div__image {
  padding-left:20px;

}

.voter__container h1 {
  font-weight: 700;
  font-size: 1.5rem;
}

.input__container {
  padding-top: 2rem;
  width: 100%;
  margin: 0 auto;
}

.Button {
  text-align: right;
}

.voterInfo {
  position: absolute;
  top: 10rem;
  left: 2rem;
  width: 15rem;
  height: 15rem;
  padding: 1rem;
  background-color: rgb(217, 244, 253);
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  color: #333;
  text-align: start;
}

.voterInfo img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  object-fit: cover;
}

.voterInfo_paragraph {
  background-color: rgb(217, 244, 253);
  border-radius: 12px;
  color: #333;
  height: 9rem;
  padding: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.voterInfo_paragraph p {
  line-height: 1.2rem;
}

.voterInfo_paragraph p span {
  font-size: 0.85rem;
}

.sideInfo {
  background-color: rgb(217, 244, 253);
  padding: 0.5rem 1rem;
  border-radius: 8px;
  color: #444;
}

.sideInfo_box h4 {
  background-color: rgb(217, 244, 253);
  color:  rgb(0, 174, 239);
  padding: 0.5rem;
  border-radius: 6px;
  font-size: 1.2rem;
}

.card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

.card_box {
  line-height: 1.4;
  border: 2px solid rgb(0, 174, 239);
  padding: 1rem;
  background-color:rgb(217, 244, 253);
  border-radius: 8px;
}

.image img {
  width: 100%;
  border-radius: 8px;
}

.createdVoter__info {
  background-color:  rgb(217, 244, 253);
  color: #333;
  border-radius: 12px;
  padding: 2rem;
}

.createdVoter__info img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  border: 2px solid  rgb(0, 174, 239);
}

.sideInfo_para {
  background-color: rgb(217, 244, 253);
  color:  rgb(0, 174, 239);
  padding: 0.5rem;
  border-radius: 6px;
  font-size: 1.2rem;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .createVoter {
    grid-template-columns: 1fr;
  }
  .voterInfo {
    position: relative;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    margin-top: 1rem;
  }
  .voter {
    padding: 1rem;
  }
  .input__container {
    width: 100%;
  }
}
